# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Datos sensibles
data/*.csv
data/*.xlsx
*.json
credentials.json
*credentials*

# BigQuery
application_default_credentials.json

# Entornos virtuales
venv/
env/
.venv/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

